*{
    font-family: Roboto, sans-serif;
}

.myelogo{
    max-height: 50px;
    aspect-ratio: 1;
    border-radius: 5px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
    margin-left: 5px;
}
